<template>
	<select class="form-control select2" data-toggle="tooltip" title="Seleccione una opción">
		<slot></slot>
	</select>
</template>

<script>
	import Select2 from 'select2';

	export default {
		props: ['options', 'value'],
		mounted: function() {
			var vm = this;
			this.options.slice(0).unshift({id: '', text: 'Seleccione...'});
			$(this.$el).select2({data: this.options})
					   .val(this.value)
					   .trigger('change')
					   .on('change', function() {
					   		vm.$emit('input', this.value)
					   });
		},
		/**
		 * Monitorea el valor de un select y carga los datos del select dependiente cuando este cambia su valor
		 *
         * @author William Páez <paez.william8@gmail.com>
		 * @author Ing. Roldan Vargas <roldandvg@gmail.com>
		 * @type {Object}
		 */
		watch: {
			value: function(value) {
				$(this.$el).val(value).trigger('change');
			},
			options: function(options) {
				try {
					options.slice(0).unshift({id: '', text: 'Seleccione...'});
					$(this.$el).empty().trigger('change').select2({data: options});
					//$(".select2").find('option').attr('data-toggle', 'tooltip');
				}
				catch(err) {}
			}
		},
		destroyed: function() {
			$(this.$el).off().select2('destroy');
		}
	};
</script>
