<template>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h6 class="card-title">Registrar Usuario</h6>
				</div>
				<div class="card-body">
					<div class="alert alert-danger" v-if="errors.length > 0">
						<ul>
							<li v-for="error in errors">{{ error }}</li>
						</ul>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group is-required">
								<label>Nombres y Apellidos:</label>
								<input type="text" class="form-control form-control-sm"
									v-model="record.name"/>
								<input type="hidden" v-model="record.id">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group is-required">
								<label>Correo Electrónico:</label>
								<input type="email" class="form-control form-control-sm"
									v-model="record.email"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group is-required">
								<label>Roles:</label>
								<v-multiselect :options="json_roles" v-if="user_id" track_by="name"
									:hide_selected="false" :selected="record.roles" v-model="record.roles">
								</v-multiselect>
								<v-multiselect :options="roles" v-else track_by="text"
									:hide_selected="false" :selected="record.roles" v-model="record.roles">
								</v-multiselect>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group is-required">
								<label>Tipo de Usuario:</label>
								<select2 :options="user_types"
									v-model="record.user_type_id">
								</select2>
							</div>
						</div>
					</div>
					<div v-if="record.user_type_id == 1">
						<div class="row">
							<div class="col-md-4">
								<div class="form-group is-required">
									<label>Estados:</label>
									<select2 :options="states" v-model="record.state_id"
										@input="listMunicipalities">
									</select2>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group is-required">
									<label>Municipios:</label>
									<select2 :options="municipalities" v-model="record.municipality_id"
										@input="listParishes">
									</select2>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group is-required">
									<label>Parroquias:</label>
									<select2 :options="parishes" v-model="record.parish_id"
										@input="listSchools">
									</select2>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group is-required">
									<label>Colegio:</label>
									<select2 :options="schools" v-model="record.school_id">
									</select2>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="float-right">
					<button class="btn btn-default btn-xs" data-toggle="tooltip" type="button"
						title="Borrar datos del formulario" @click="reset"><i class="fa fa-eraser"></i>
					</button>
					<button class="btn btn-success btn-xs" type="button" title="Guardar registro"
						@click="createRecord('usuarios')">
	                	<i class="fa fa-save"></i>
					</button>
					</div>
				</div>
            </div>
        </div>
    </div>
</template>
<script>
	export default {
		props: {
			user_id: Number,
		},
		data() {
			return {
				record: {
					id: '',
					name: '',
					email: '',
					roles: [],
					user_type_id: '0',
					state_id: '',
					municipality_id: '',
                    parish_id: '',
					school_id: '',
				},
				errors: [],
				roles: [],
				json_roles: [],
				user_types: [{'id': 0, 'text': 'Ninguno'},{'id': 1, 'text': 'Usuario Escolar'}],
				states: [],
				municipalities: [],
				parishes: [],
				schools: [],
			}
		},
		methods: {
			/**
			 * Método que borrar todos los datos del formulario
			 *
			 * @author  William Páez <paez.william8@gmail.com>
			 */
			reset() {
				this.record = {
                    id: '',
					name: '',
					email: '',
					roles: [],
				};
			},

			getUser() {
				axios.get('/usuarios/' + this.user_id).then(response => {
					this.record = response.data.record;
				});
			},
		},
		created() {
			this.getRoles();
			this.listStates();
			this.listMunicipalities();
			this.listParishes();
			this.listSchools();
		},
		mounted() {
			if(this.user_id) {
				this.getUser();
				this.getJsonRoles();
			}
		}
	};
</script>
