// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Select2
@import "~select2/src/scss/core.scss";

//Select2 bootstrap 4 theme
@import "~select2-theme-bootstrap4/src/build.scss";

// MultiSelect
@import '~vue-multiselect/dist/vue-multiselect.min.css';

/*
 * Para que bootstrap-switch funcione, hay que editar este archivo y arreglar lo siguiente:
 * Cambiar esto:
 *              @import "../bootstrap-4.2.1/functions";
 *              @import "../bootstrap-4.2.1/variables";
 * por:
 *              @import "~bootstrap/scss/functions";
 *              @import "~bootstrap/scss/variables";
 */
//@import '~bootstrap-switch/src/sass/bootstrap4/bootstrap-switch.scss'
