<template>
    <div>
        <v-client-table :columns="columns" :data="records" :options="table_options">
    		<div slot="id" slot-scope="props" class="text-center">
    			<button @click="showRecordModal(props.row.id)" v-if="route_show"
        				class="btn btn-info btn-xs text-white"
        				title="Ver registro" data-toggle="tooltip" data-placement="bottom" type="button">
        			<i class="ti-eye"></i>
        		</button>
    		</div>
    	</v-client-table>
        <div class="modal fade" tabindex="-1" role="dialog" id="show_user_school">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6>
                            Información Detallada del Usuario Escolar
                        </h6>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nombres y Apellidos</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" id="name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Correo Electrónico</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" id="email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Colegio Asociado</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" id="school">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Usuario Escolar Administrador</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" id="user_school">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
			return {
				records: [],
                record: [],
				columns: ['user.name', 'user.email', 'id'],
			}
		},

        created() {
			this.table_options.headings = {
                'user.name': 'Nombres y Apellidos',
				'user.email': 'Correo Electrónico',
				'id': 'Acción'
			};
            this.table_options.sortable = ['user.name', 'user.email'];
		},

        mounted() {
			this.initRecords(this.route_list, '');
		},

        methods: {
            reset() {

            },

            showRecordModal(id) {
                axios.get('/colegio/usuarios/' + id).then(response => {
					this.record = response.data.record;
                    $('#name').val(this.record.user.name);
                    $('#email').val(this.record.user.email);
                    $('#school').val(this.record.school.name);
                    $('#user_school').val(this.record.parent.user.name);
				});
                $('#show_user_school').modal('show');
            }
        }
    };
</script>
