<template>
    <div>
        <v-client-table :columns="columns" :data="records" :options="table_options">
    		<div slot="id" slot-scope="props" class="text-center">
    			<button @click="showRecordModal(props.row.id)" v-if="route_show"
        				class="btn btn-info btn-xs text-white"
        				title="Ver registro" data-toggle="tooltip" data-placement="bottom" type="button">
        			<i class="ti-eye"></i>
        		</button>
    		</div>
    	</v-client-table>
        <div class="modal fade" tabindex="-1" role="dialog" id="show_bank">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6>
                            Información Detallada del Banco
                        </h6>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Código</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" v-model="record.code">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" id="name" v-model="record.name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nombre Corto</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" v-model="record.short_name">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
			return {
				records: [],
                record: [],
				columns: ['code', 'name', 'short_name', 'id'],
			}
		},

        created() {
			this.table_options.headings = {
                'code': 'Código',
                'name': 'Nombre',
				'short_name': 'Nombre Corto',
				'id': 'Acción'
			};
            this.table_options.sortable = ['code', 'name'];
		},

        mounted() {
			this.initRecords(this.route_list, '');
		},

        methods: {
            reset() {

            },

            showRecordModal(id) {
                axios.get('/pagos/bancos/' + id).then(response => {
					this.record = response.data.record;
				});
                $('#show_bank').modal('show');
            }
        }
    };
</script>
