<template>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h6 class="card-title">Registrar Banco</h6>
				</div>
				<div class="card-body">
					<div class="alert alert-danger" v-if="errors.length > 0">
						<ul>
							<li v-for="error in errors">{{ error }}</li>
						</ul>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group is-required">
								<label>Código:</label>
								<input type="text" class="form-control form-control-sm"
									v-model="record.code"/>
                                <input type="hidden" v-model="record.id">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group is-required">
								<label>Nombre:</label>
								<input type="text" class="form-control form-control-sm"
									v-model="record.name"/>
							</div>
						</div>
					</div>
                    <div class="row">
                        <div class="col-md-6">
							<div class="form-group is-required">
								<label>Nombre Corto:</label>
								<input type="text" class="form-control form-control-sm"
									v-model="record.short_name"/>
							</div>
						</div>
                    </div>
				</div>
				<div class="card-footer">
					<div class="float-right">
					<button class="btn btn-default btn-xs" data-toggle="tooltip" type="button"
						title="Borrar datos del formulario" @click="reset"><i class="fa fa-eraser"></i>
					</button>
					<button class="btn btn-success btn-xs" type="button" title="Guardar registro"
						@click="createRecord('pagos/bancos')">
	                	<i class="fa fa-save"></i>
					</button>
					</div>
				</div>
            </div>
        </div>
    </div>
</template>
<script>
	export default {
		props: {
			bank_id: Number,
		},
		data() {
			return {
				record: {
					id: '',
                    code: '',
					name: '',
					short_name: '',
				},
				errors: [],
			}
		},
		methods: {
			/**
			 * Método que borrar todos los datos del formulario
			 *
			 * @author  William Páez <paez.william8@gmail.com>
			 */
			reset() {
				this.record = {
                    id: '',
                    code: '',
					name: '',
					short_name: '',
				};
			},

			getBank() {
				axios.get('/pagos/bancos/' + this.bank_id).then(response => {
					this.record = response.data.record;
				});
			},
		},
		mounted() {
			if(this.bank_id) {
				this.getBank();
			}
		}
	};
</script>
