<template>
    <div>
        <v-client-table :columns="columns" :data="records" :options="table_options">
    		<div slot="id" slot-scope="props" class="text-center">
    			<button @click="showRecordModal(props.row.id)" v-if="route_show"
        				class="btn btn-info btn-xs text-white"
        				title="Ver registro" data-toggle="tooltip" data-placement="bottom" type="button">
        			<i class="ti-eye"></i>
        		</button>
                <button @click="editForm(props.row.id)" v-if="!props.row.assigned"
        				class="btn btn-warning btn-xs"
        				title="Modificar registro" data-toggle="tooltip" data-placement="bottom" type="button">
        			<i class="ti-pencil"></i>
        		</button>
        		<button @click="deleteRecord(props.index, '')"
    					class="btn btn-danger btn-xs"
    					title="Eliminar registro" data-toggle="tooltip" data-placement="bottom"
    					type="button">
    				<i class="ti-trash"></i>
    			</button>
    		</div>
    	</v-client-table>
        <div class="modal fade" tabindex="-1" role="dialog" id="show_bank_account">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6>
                            Información Detallada de la Cuenta Bancaria del Colegio
                        </h6>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Número de Cuenta</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" v-if="record.account_number" v-model="record.account_number">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Banco</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" v-if="record.bank_id" v-model="record.bank.name">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        props: {
            bank_account: Number,
        },
        data() {
			return {
				records: [],
                record: [],
				columns: ['account_number', 'bank.name', 'id'],
			}
		},

        created() {
			this.table_options.headings = {
                'account_number': 'Número de Cuenta',
                'bank.name': 'Banco',
				'id': 'Acción',
			};
            this.table_options.sortable = ['account_number', 'bank.name'];
		},

        mounted() {
			this.initRecords(this.route_list, '');
		},

        methods: {
            reset() {

            },

            showRecordModal(id) {
                if (this.bank_account == 1) {
                    axios.get('/pagos/colegio/cuentas-bancarias/' + id).then(response => {
    					this.record = response.data.record;
    				});
                }
                else if (this.bank_account == 2) {
                    axios.get('/familia/cuentas-bancarias/' + id).then(response => {
    					this.record = response.data.record;
    				});
                }
                $('#show_bank_account').modal('show');
            }
        }
    };
</script>
