<template>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h6 class="card-title">Registrar Cuenta Bancaria</h6>
				</div>
				<div class="card-body">
					<div class="alert alert-danger" v-if="errors.length > 0">
						<ul>
							<li v-for="error in errors">{{ error }}</li>
						</ul>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group is-required">
								<label>Número de cuenta:</label>
								<input type="text" class="form-control form-control-sm"
									v-model="record.account_number"/>
								<small class="form-text text-muted">
									El número de cuenta debe ser de 20 digitos.
								</small>
                                <input type="hidden" v-model="record.id">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group is-required">
								<label>Banco:</label>
                                <select2 :options="banks" v-model="record.bank_id">
                                </select2>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="float-right">
					<button class="btn btn-default btn-xs" data-toggle="tooltip" type="button"
						title="Borrar datos del formulario" @click="reset"><i class="fa fa-eraser"></i>
					</button>
					<button v-if="bank_account == 1" class="btn btn-success btn-xs" type="button" title="Guardar registro"
						@click="createRecord('pagos/colegio/cuentas-bancarias')">
	                	<i class="fa fa-save"></i>
					</button>
					<button v-if="bank_account == 2" class="btn btn-success btn-xs" type="button" title="Guardar registro"
						@click="createRecord('familia/cuentas-bancarias')">
	                	<i class="fa fa-save"></i>
					</button>
					</div>
				</div>
            </div>
        </div>
    </div>
</template>
<script>
	export default {
		props: {
			bank_account: Number,
			bank_account_id: Number,
		},
		data() {
			return {
				record: {
					id: '',
                    account_number: '',
					bank_id: '',
				},
                banks: [],
				errors: [],
			}
		},
		methods: {
			/**
			 * Método que borrar todos los datos del formulario
			 *
			 * @author  William Páez <paez.william8@gmail.com>
			 */
			reset() {
				this.record = {
                    id: '',
                    account_number: '',
					bank_id: '',
				};
			},

			getBankAccount() {
				if(this.bank_account == 1) {
					axios.get('/pagos/colegio/cuentas-bancarias/' + this.bank_account_id).then(response => {
						this.record = response.data.record;
					});
				}
				else if(this.bank_account == 2) {
					axios.get('/familia/cuentas-bancarias/' + this.bank_account_id).then(response => {
						this.record = response.data.record;
					});
				}
			},
		},
		mounted() {
			if(this.bank_account_id) {
				this.getBankAccount();
			}
		},
        created() {
			this.listBanks();
		},
	};
</script>
