<template>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h6 class="card-title">Registrar Concepto de Inscripción</h6>
				</div>
				<div class="card-body">
					<div class="alert alert-danger" v-if="errors.length > 0">
						<ul>
							<li v-for="error in errors">{{ error }}</li>
						</ul>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group is-required">
								<label>Nombre:</label>
								<input type="text" class="form-control form-control-sm"
									v-model="record.name"/>
								<input type="hidden" v-model="record.id">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group is-required">
								<label>Monto:</label>
								<input type="number" class="form-control form-control-sm"
									step=".01" v-model="record.amount"/>
								<small class="form-text text-muted">
									Para montos que beneficien al estudiante, por ejemplo los becados, el valor debe ser negativo.
								</small>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							Nota: El sistema no se responsabiliza por el uso de las funcionalidades de editar y eliminar,
				            una vez que ya el concepto ha sido asociado con una inscripción.
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="float-right">
						<button class="btn btn-default btn-xs" data-toggle="tooltip" type="button"
							title="Borrar datos del formulario" @click="reset"><i class="fa fa-eraser"></i>
						</button>
						<button class="btn btn-success btn-xs" type="button" title="Guardar registro"
							@click="createRecord('pagos/conceptos')">
		                	<i class="fa fa-save"></i>
						</button>
					</div>
				</div>
            </div>
        </div>
    </div>
</template>
<script>
	export default {
		props: {
			concept_id: Number,
		},
		data() {
			return {
				record: {
					id: '',
					name: '',
					amount: '',
				},
				errors: [],
			}
		},
		methods: {
			/**
			 * Método que borrar todos los datos del formulario
			 *
			 * @author  William Páez <paez.william8@gmail.com>
			 */
			reset() {
				this.record = {
                    id: '',
					name: '',
					amount: '',
				};
			},

			getConcept() {
				axios.get('/pagos/conceptos/' + this.concept_id).then(response => {
					this.record = response.data.record;
				});
			},
		},
		mounted() {
			if(this.concept_id) {
				this.getConcept();
			}
		}
	};
</script>
