<template>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h6 class="card-title">Registrar Inscripciones</h6>
				</div>
				<div class="card-body">
					<div class="alert alert-danger" v-if="errors.length > 0">
						<ul>
							<li v-for="error in errors">{{ error }}</li>
						</ul>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group is-required">
                                <label>Estudiante:</label>
                                <select2 :options="students" v-model="record.student_id">
                                </select2>
								<input type="hidden" v-model="record.id">
							</div>
						</div>
						<div class="col-md-6">
                            <div class="form-group is-required">
                                <label>Año Escolar:</label>
                                <select2 :options="seasons" v-model="record.season_id">
                                </select2>
                            </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group is-required">
                                <label>Nivel:</label>
								<select2 :options="levels" v-model="record.level_id"
									@input="listGrades">
                                </select2>
							</div>
						</div>
						<div class="col-md-6">
                            <div class="form-group is-required">
                                <label>Grado:</label>
								<select2 :options="grades" v-model="record.grade_id"
									@input="listSections">
                                </select2>
                            </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group is-required">
                                <label>Secciones:</label>
                                <select2 :options="sections" v-model="record.section_id">
                                </select2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group is-required">
                                <label>Planes de Pago:</label>
                                <select2 :options="plans" v-model="record.plan_id"
									@input="listInstallments">
                                </select2>
							</div>
						</div>
						<div class="col-md-6">
                            <div class="form-group is-required">
                                <label>Cuotas del Plan de Pago:</label>
								<v-multiselect :options="installments" track_by="text"
									:hide_selected="false" :selected="installments"
									:value="installments">
								</v-multiselect>
                            </div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
                            <div class="form-group is-required">
                                <label>Conceptos de Inscrición:</label>
								<v-multiselect :options="json_concepts" v-if="enrollment_id" track_by="name"
									:hide_selected="false" :selected="record.concepts" v-model="record.concepts">
								</v-multiselect>
								<v-multiselect :options="concepts" v-else track_by="text"
									:hide_selected="false" :selected="record.concepts" v-model="record.concepts">
								</v-multiselect>
                            </div>
						</div>
					</div>
					<hr v-show="!enrollment_id">
					<div class="row" v-show="!enrollment_id">
						<div class="col-md-6">
							<div class="form-group is-required">
                                <label>MONTO TOTAL: {{ sum }}</label>
								<input type="text" class="form-control form-control-sm"
									disabled="true" v-model="total_amount"/>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="float-right">
					<button class="btn btn-default btn-xs" data-toggle="tooltip" type="button"
						title="Borrar datos del formulario" @click="reset"><i class="fa fa-eraser"></i>
					</button>
					<button class="btn btn-success btn-xs" type="button" title="Guardar registro"
						@click="createRecord('pagos/inscripciones')">
	                	<i class="fa fa-save"></i>
					</button>
					</div>
				</div>
            </div>
        </div>
    </div>
</template>
<script>
	export default {
		props: {
			enrollment_id: Number,
		},
		data() {
			return {
				record: {
					id: '',
					student_id: '',
					season_id: '',
					level_id: '',
					grade_id: '',
					section_id: '',
					plan_id: '',
					concepts: [],
				},
                students: [],
                seasons: [],
				levels: [],
				grades: [],
				sections: [],
				plans: [],
				installments: [],
				concepts: [],
				json_concepts: [],
				total_amount: 0,
				errors: [],
			}
		},
		methods: {
			/**
			 * Método que borrar todos los datos del formulario
			 *
			 * @author  William Páez <paez.william8@gmail.com>
			 */
			reset() {
				this.record = {
                    id: '',
					student_id: '',
					season_id: '',
					level_id: '',
					grade_id: '',
					section_id: '',
					plan_id: '',
					concepts: [],
				};
			},

			getEnrollment() {
				axios.get('/pagos/inscripciones/' + this.enrollment_id).then(response => {
					this.record = response.data.record;
				});
			},
		},
		mounted() {
			if(this.enrollment_id) {
				this.getEnrollment();
				this.listJsonConcepts();
			}
		},
		created() {
			this.listStudents();
			this.listSeasons();
			this.listLevels();
			this.listGrades();
			this.listSections();
			this.listPlans();
			this.listConcepts();
		},
		computed: {
			sum() {
				this.total_amount = 0;
				if(this.record.plan_id) {
					axios.get('/pagos/planes/' + this.record.plan_id).then(response => {
						response.data.record.installments.forEach(element => {
							this.total_amount += parseFloat(element.amount);
						});
					});
				}
				if(Array.isArray(this.record.concepts)) {
					this.record.concepts.forEach(element => {
						axios.get('/pagos/conceptos/' + element.id).then(response => {
							this.total_amount += parseFloat(response.data.record.amount);
						});
					});
				}
			},
		}
	};
</script>
