<template>
    <div>
        <v-client-table :columns="columns" :data="records" :options="table_options">
    		<div slot="id" slot-scope="props" class="text-center">
    			<button @click="showRecordModal(props.row.id)" v-if="route_show"
        				class="btn btn-info btn-xs text-white"
        				title="Ver registro" data-toggle="tooltip" data-placement="bottom" type="button">
        			<i class="ti-eye"></i>
        		</button>
                <button @click="editForm(props.row.id)" v-if="!props.row.assigned"
        				class="btn btn-warning btn-xs"
        				title="Modificar registro" data-toggle="tooltip" data-placement="bottom" type="button">
        			<i class="ti-pencil"></i>
        		</button>
        		<button @click="deleteRecord(props.index, '')"
    					class="btn btn-danger btn-xs"
    					title="Eliminar registro" data-toggle="tooltip" data-placement="bottom"
    					type="button">
    				<i class="ti-trash"></i>
    			</button>
    		</div>
    	</v-client-table>
        <div class="modal fade long-modal" tabindex="-1" role="dialog" aria-labelledby="longmodal" id="show_enrollment">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6>
                            Información Detallada de la Inscripción
                        </h6>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Estudiante</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" id="student">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Año Escolar</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" v-if="record.section" v-model="record.section.season.season">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nivel</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" v-if="record.section" v-model="record.section.grade.level.name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Grado</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" v-if="record.section" v-model="record.section.grade.name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Sección</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" v-if="record.section" v-model="record.section.name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Plan de Pago</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" v-if="record.plan" v-model="record.plan.name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <v-client-table :columns="installments_columns"
                                    :data="record.plan.installments" :options="installments_options" v-if="record.plan">
                                </v-client-table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Conceptos de Inscripción</label>
                                    <v-multiselect :options="(record.concepts) ? record.concepts : []" track_by="name"
                                        :hide_selected="false" :selected="(record.concepts) ? record.concepts : []"
                                        :value="(record.concepts) ? record.concepts : []">
                                    </v-multiselect>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Fecha de la Inscripción</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" v-if="record.created_at"
                                        v-model="record.created_at">
                                </div>
                            </div>
                        </div>
                        <hr>
    					<div class="row">
    						<div class="col-md-6">
    							<div class="form-group is-required">
                                    <label>MONTO TOTAL: {{ sum }}</label>
    								<input type="text" class="form-control form-control-sm"
    									disabled="true" v-model="total_amount"/>
    							</div>
    						</div>
    					</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
			return {
				records: [],
                record: [],
				columns: [
                    'student.profile.first_name_1', 'student.profile.last_name_1',
                    'section.season.season', 'id'
                ],
                installments_columns: ['description', 'amount'],
                installments_options: {
    				pagination: { edge: true },
    				highlightMatches: true,
    				texts: {
                        filter: "Buscar:",
                        filterBy: 'Buscar por {column}',
                        count: ' ',
                        first: 'PRIMERO',
                        last: 'ÚLTIMO',
                        limit: 'Registros',
                        noResults: 'No existen registros',
                        filterPlaceholder: '...',
    				},
    				sortIcon: {
    					is: 'fa-sort cursor-pointer',
    					base: 'fa',
    					up: 'fa-sort-up cursor-pointer',
    					down: 'fa-sort-down cursor-pointer'
    				},
                    headings: {
                        'description': 'Descripción',
                        'amount': 'Monto'
                    }
    			},
                total_amount: 0,
			}
		},

        created() {
			this.table_options.headings = {
                'student.profile.first_name_1': 'Nombre del Estudiante',
                'student.profile.last_name_1': 'Apellido del Estudiante',
                'section.season.season': 'Año Escolar',
				'id': 'Acción'
			};
            this.table_options.sortable = [
                'student.profile.first_name_1', 'student.profile.last_name_1',
                'section.season.season'
            ];
		},

        mounted() {
			this.initRecords(this.route_list, '');
		},

        methods: {
            reset() {

            },

            showRecordModal(id) {
                axios.get('/pagos/inscripciones/' + id).then(response => {
					this.record = response.data.record;
                    $('#student').val(this.record.student.profile.first_name_1 + ' ' + this.record.student.profile.last_name_1);
				});
                $('#show_enrollment').modal('show');
            },
        },

        computed: {
            sum() {
                this.total_amount = 0;
                if(this.record.plan_id) {
                    axios.get('/pagos/planes/' + this.record.plan_id).then(response => {
                        response.data.record.installments.forEach(element => {
                            this.total_amount += parseFloat(element.amount);
                        });
                    });
                }
                if(Array.isArray(this.record.concepts)) {
                    this.record.concepts.forEach(element => {
                        axios.get('/pagos/conceptos/' + element.id).then(response => {
                            this.total_amount += parseFloat(response.data.record.amount);
                        });
                    });
                }
            }
        }
    };
</script>
