<template>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h6 class="card-title">Registrar Pago</h6>
				</div>
				<div class="card-body">
					<div class="alert alert-danger" v-if="errors.length > 0">
						<ul>
							<li v-for="error in errors">{{ error }}</li>
						</ul>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group is-required">
								<label>Estudiante:</label>
                                <select2 :options="enrollments" v-model="record.enrollment_id"
                                    @input="getEnrollment">
                                </select2>
                                <input type="hidden" v-model="record.id">
							</div>
						</div>
					</div>
                    <div class="row">
                        <div class="col-md-6">
                            <v-client-table :columns="columns"
                                :data="enrollment.concepts" :options="table_options" v-if="record.enrollment_id">
                            </v-client-table>
                        </div>
                        <div class="col-md-6">
                            <v-client-table :columns="installments_columns"
                                :data="enrollment.plan.installments" :options="installments_options" v-if="record.enrollment_id">
                            </v-client-table>
                        </div>
                    </div>
                    <div class="row">
						<div class="col-md-6">
							<div class="form-group is-required">
								<label>Método de Pago:</label>
                                <select2 :options="payment_methods" v-model="record.payment_method_id">
                                </select2>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="float-right">
					<button class="btn btn-default btn-xs" data-toggle="tooltip" type="button"
						title="Borrar datos del formulario" @click="reset"><i class="fa fa-eraser"></i>
					</button>
					<button class="btn btn-success btn-xs" type="button" title="Guardar registro"
						@click="createRecord('pagos')">
	                	<i class="fa fa-save"></i>
					</button>
					</div>
				</div>
            </div>
        </div>
    </div>
</template>
<script>
	export default {
		props: {
			payment_id: Number,
		},
		data() {
			return {
				record: {
					id: '',
                    enrollment_id: '',
				},
                enrollments: [],
                enrollment: [],
                payment_methods: [],
                columns: ['name', 'amount'],
                installments_columns: ['description', 'amount'],
                installments_options: {
    				pagination: { edge: true },
    				highlightMatches: true,
    				texts: {
                        filter: "Buscar:",
                        filterBy: 'Buscar por {column}',
                        count: ' ',
                        first: 'PRIMERO',
                        last: 'ÚLTIMO',
                        limit: 'Registros',
                        noResults: 'No existen registros',
                        filterPlaceholder: '...',
    				},
    				sortIcon: {
    					is: 'fa-sort cursor-pointer',
    					base: 'fa',
    					up: 'fa-sort-up cursor-pointer',
    					down: 'fa-sort-down cursor-pointer'
    				},
                    headings: {
                        'description': 'Descripción',
                        'amount': 'Monto'
                    }
    			},
				errors: [],
			}
		},
		methods: {
			/**
			 * Método que borrar todos los datos del formulario
			 *
			 * @author  William Páez <paez.william8@gmail.com>
			 */
			reset() {
				this.record = {
                    id: '',
                    enrollment_id: '',
				};
			},

			getPayment() {
				axios.get('/pagos/' + this.payment_id).then(response => {
					this.record = response.data.record;
				});
			},

            getEnrollment() {
                axios.get('/pagos/inscripciones/' + this.record.enrollment_id).then(response => {
					this.enrollment = response.data.record;
				});
            }
		},
		mounted() {
			if(this.payment_id) {
				this.getPayment();
			}
		},
        created() {
            this.table_options.headings = {
                'name': 'Nombre',
                'amount': 'Monto',
				'id': 'Acción'
			};
			this.listEnrollments();
            this.listPaymentMethods();
		},
	};
</script>
