<template>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h6 class="card-title">Registrar Plan de Pago</h6>
				</div>
				<div class="card-body">
					<div class="alert alert-danger" v-if="errors.length > 0">
						<ul>
							<li v-for="error in errors">{{ error }}</li>
						</ul>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group is-required">
								<label>Nombre:</label>
								<input type="text" class="form-control form-control-sm"
									v-model="record.name"/>
								<input type="hidden" v-model="record.id">
							</div>
						</div>
					</div>
                    <hr>
                    <h6 class="card-title">
                        Cuotas Mensuales <i class="fa fa-plus-circle cursor-pointer" data-toggle="tooltip" title="Agregar dato" @click="addInstallment"></i>
                    </h6>
                    <div class="row" v-for="(installment, index) in record.installments">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Descripción</label>
                                <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                    v-model="installment.description">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Monto</label>
                                <input type="number" data-toggle="tooltip" class="form-control form-control-sm"
                                    min="0" step=".01" v-model="installment.amount">
                            </div>
                        </div>
						<div class="col-1">
                            <div class="form-group">
                                <button class="btn btn-sm btn-danger btn-action" type="button"
                                        @click="removeRow(index, record.installments)"
                                        title="Eliminar este dato">
                                    <i class="fa fa-minus-circle"></i>
                                </button>
                            </div>
                        </div>
                    </div>
					<div class="row">
						<div class="col-md-12">
							Nota: El sistema no se responsabiliza por el uso de las funcionalidades de editar y eliminar,
				            una vez que ya el concepto ha sido asociado a una inscripción.
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="float-right">
					<button class="btn btn-default btn-xs" data-toggle="tooltip" type="button"
						title="Borrar datos del formulario" @click="reset"><i class="fa fa-eraser"></i>
					</button>
					<button class="btn btn-success btn-xs" type="button" title="Guardar registro"
						@click="createRecord('pagos/planes')">
	                	<i class="fa fa-save"></i>
					</button>
					</div>
				</div>
            </div>
        </div>
    </div>
</template>
<script>
	export default {
		props: {
			plan_id: Number,
		},
		data() {
			return {
				record: {
					id: '',
					name: '',
					installments: [],
				},
				errors: [],
			}
		},
		methods: {
			/**
			 * Método que borrar todos los datos del formulario
			 *
			 * @author  William Páez <paez.william8@gmail.com>
			 */
			reset() {
				this.record = {
                    id: '',
					name: '',
					installments: [],
				};
			},

			getPlan() {
				axios.get('/pagos/planes/' + this.plan_id).then(response => {
					this.record = response.data.record;
				});
			},

            /**
			 * Agrega una nueva fila para el registro de cuotas
			 *
			 * @author William Páez <paez.william8@gmail.com>
			 */
			addInstallment() {
				this.record.installments.push({
					description: '',
					amount: '',
				});
			},
		},
		mounted() {
			if(this.plan_id) {
				this.getPlan();
			}
		},
	};
</script>
