<template>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h6 class="card-title">Registrar Pago</h6>
				</div>
				<div class="card-body">
					<div class="alert alert-danger" v-if="errors.length > 0">
						<ul>
							<li v-for="error in errors">{{ error }}</li>
						</ul>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group is-required">
								<label>Recibos de Pago:</label>
                                <select2 :options="receipts" v-model="record.receipt_id">
                                </select2>
                                <input type="hidden" v-model="record.id">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group is-required">
								<label>Métodos de Pago:</label>
                                <select2 :options="payment_methods" v-model="record.payment_method_id">
                                </select2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group is-required">
								<label>Cuentas Bancarias del Colegio:</label>
                                <select2 :options="bank_accounts" v-model="record.bank_account_id">
                                </select2>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group is-required">
								<label>Cuentas Bancarias del Familiar:</label>
                                <select2 :options="family_bank_accounts" v-model="record.family_bank_account_id">
                                </select2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group is-required">
								<label>Código de la transferencia:</label>
								<input type="text" class="form-control form-control-sm"
									v-model="record.transfer_code"/>
							</div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="float-right">
					<button class="btn btn-default btn-xs" data-toggle="tooltip" type="button"
						title="Borrar datos del formulario" @click="reset"><i class="fa fa-eraser"></i>
					</button>
					<button class="btn btn-success btn-xs" type="button" title="Guardar registro"
						@click="createRecord('familia/pagos')">
	                	<i class="fa fa-save"></i>
					</button>
					</div>
				</div>
            </div>
        </div>
    </div>
</template>
<script>
	export default {
		data() {
			return {
				record: {
					id: '',
                    receipt_id: '',
					payment_method_id: '',
					bank_account_id: '',
					family_bank_account_id: '',
					transfer_code: '',
				},
                receipts: [],
				payment_methods: [],
				bank_accounts: [],
				family_bank_accounts: [],
				errors: [],
			}
		},
		methods: {
			/**
			 * Método que borrar todos los datos del formulario
			 *
			 * @author  William Páez <paez.william8@gmail.com>
			 */
			reset() {
				this.record = {
                    id: '',
                    receipt_id: '',
					payment_method_id: '',
					bank_account_id: '',
					family_bank_account_id: '',
					transfer_code: '',
				};
			},
		},
        created() {
			this.listReceipts();
            this.listPaymentMethods();
			this.listBankAccounts();
			this.listFamilyBankAccounts();
		},
	};
</script>
