<template>
    <div>
        <v-client-table :columns="columns" :data="records" :options="table_options">
    		<div slot="id" slot-scope="props" class="text-center">
    			<button @click="showRecordModal(props.row.id)" v-if="route_show"
        				class="btn btn-info btn-xs text-white"
        				title="Ver registro" data-toggle="tooltip" data-placement="bottom" type="button">
        			<i class="ti-eye"></i>
        		</button>
    		</div>
            <div slot="verified" slot-scope="props" class="text-center">
                <span v-if="props.row.verified">SI</span>
                <span v-else>NO</span>
            </div>
            <div slot="annulled" slot-scope="props" class="text-center">
                <span v-if="props.row.annulled">SI</span>
                <span v-else>NO</span>
            </div>
    	</v-client-table>
        <div class="modal fade" tabindex="-1" role="dialog" id="show_family_payment">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6>
                            Información Detallada del Pago
                        </h6>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" v-if="record.name" v-model="record.name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Monto</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" v-if="record.amount" v-model="record.amount">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div v-if="record.verified">
                                        <label>Pago Verificado: SI</label>
                                        <small class="form-text text-muted">
        									Pago verificado satisfactoriamente.
        								</small>
                                    </div>
                                    <div v-else>
                                        <label>Pago Verificado: No</label>
                                        <small class="form-text text-muted">
        									Esperando para ser verificado.
        								</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label v-if="record.annulled">Pago Anulado: SI</label>
                                    <label v-else>Pago Anulado: No</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Año Escolar</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" v-if="record.receipt_id"
                                        v-model="record.receipt.enrollment.section.season.season">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Método de Pago</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" v-if="record.payment_method_id" v-model="record.payment_method.name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Cuenta Bancaria del Colegio</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" v-if="record.school_bank_account"
                                        v-model="record.school_bank_account">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Cuenta Bancaria del Familiar</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" v-if="record.family_bank_account" v-model="record.family_bank_account">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Código de Transferencia</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" v-if="record.transfer_code"
                                        v-model="record.transfer_code">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Número de Control de la Factura</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" v-if="record.invoice_number" v-model="record.invoice_number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Fecha de la Operación</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" v-if="record.created_at"
                                        v-model="record.created_at">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Estudiante</label>
                                    <input type="text" data-toggle="tooltip" class="form-control form-control-sm"
                                        disabled="true" id="student">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button v-print="'#show_family_payment'">Imprimir Factura</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data() {
			return {
				records: [],
                record: [],
				columns: [
                    'name', 'amount', 'verified', 'annulled', 'receipt.enrollment.section.season.season', 'id'
                ],
			}
		},

        created() {
			this.table_options.headings = {
                'name': 'Nombre',
                'amount': 'Monto',
                'verified': 'Pago Verificado',
                'annulled': 'Pago Anulado',
                'receipt.enrollment.section.season.season': 'Año Escolar',
				'id': 'Acción'
			};
            this.table_options.sortable = ['name', 'amount'];
		},

        mounted() {
			this.initRecords(this.route_list, '');
		},

        methods: {
            reset() {

            },

            showRecordModal(id) {
                axios.get('/familia/pagos/' + id).then(response => {
					this.record = response.data.record;
                    $('#student').val(
                        this.record.receipt.enrollment.student.profile.first_name_1 + ' ' + this.record.receipt.enrollment.student.profile.last_name_1
                    );
				});
                $('#show_family_payment').modal('show');
            }
        }
    };
</script>
